body {
    position: relative;

    background-color: #78c9ff;
    font-family: Arial, sans-serif;

    /* Make a gridlike pattern */
    background-image: radial-gradient(circle, #38afff, 5px, transparent 5px);
    background-size: 80px 80px;
    background-repeat: repeat;
}

/* Wave ripple background */
#rippleLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* So it doesn't block clicks */
  z-index: -1;           /* Adjust if you have other backgrounds */    
}

/* Title Card */
#titleCard {
    display: relative;

    top: 0;
    left: 0;
}

.titleImage {
   width: 96px;
   height: 96px; 
}

.titleCardLine1 {
    position: relative;
    transform: translate(100px,-150px);

    font-size: 48px;
    font-family: 'Ubuntu', sans-serif;
   
    color: #0066ff;
    -webkit-text-stroke: 1px #1a239e;
}

.titleCardLine2 {
    position: relative;
    transform: translate(100px,-200px);

    font-size: 32px;
    font-family: 'Ubuntu', sans-serif;
   
    color: #0066ff;
    -webkit-text-stroke: 1px #1a239e;
}