body {
    position: relative;

    background-color: #111111;
    font-family: Arial, sans-serif;

    /* Make a gridlike pattern */
    background-image: radial-gradient(circle, #1e1c19, 5px, transparent 5px);
    background-size: 80px 80px;
    background-repeat: repeat;
}

/* Global */
* {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer */
    user-select: none;         /* Non-prefixed version */
}

img {
    pointer-events: none;
}

/* Title Card */
#titleCard {
    display: flex;
    align-items: center;

    top: 0;
    left: 0;

    transform: translateY(-32px);
}

.titleImage {
   width: 96px;
   height: 96px;
   margin-right: 20px; 
}

.titleCardText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titleCardLine1 {
    position: relative;
    margin-bottom: 5px;

    font-size: 48px;
    font-family: 'Ubuntu', sans-serif;
   
    color: #ff8800;
    -webkit-text-stroke: 1px #925800;

    transform: translate(-8px,-8px);
}

.titleCardLine2 {
    position: relative;
    margin-top: 0px;

    font-size: 32px;
    font-family: 'Ubuntu', sans-serif;
   
    color: #ffc400;
    -webkit-text-stroke: 1px #887400;

    transform: translate(0px,-16px);
}

/* Slicer section */
#slicerSection {
    display: flex;
    align-items: center;

    top: 0;
    left: 0;

    transform: translateY(-64px);
}

.cutImage {
   width: 48px;
   height: 48px;
   margin-right: 20px; 
}

#slicerFilePath {
    font-size: 32px;
    font-family: 'Ubuntu', sans-serif;
   
    color: #c96b6b;
    -webkit-text-stroke: 1px #852b2b;  
}

.folderImage {
   width: 48px;
   height: 48px;
   margin-left: 20px; 
}